<p id="notice"><%= notice %></p>

<h1>Tech Instances</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Master tech</th>
      <th>Visible</th>
      <th>Researching</th>
      <th>Partial credit</th>
      <th>Researched</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tech_instances.each do |tech_instance| %>
      <tr>
        <td><%= tech_instance.country.name %></td>
        <td><%= tech_instance.master_tech.wts_id %></td>
        <td><%= tech_instance.visible %></td>
        <td><%= tech_instance.researching %></td>
        <td><%= tech_instance.partial_credit %></td>
        <td><%= tech_instance.researched %></td>
        <td><%= link_to 'Show', tech_instance %></td>
        <td><%= link_to 'Edit', edit_tech_instance_path(tech_instance) %></td>
        <td><%= link_to 'Destroy', tech_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tech Instance', new_tech_instance_path %>
