<p id="notice"><%= notice %></p>

<p>
  <strong>Master tech:</strong>
  <%= @tech_tree.master_tech %>
</p>

<p>
  <strong>Master tech:</strong>
  <%= @tech_tree.master_tech %>
</p>

<%= link_to 'Edit', edit_tech_tree_path(@tech_tree) %> |
<%= link_to 'Back', tech_trees_path %>
