<div class="container">
  <div class="navbar">
    <% countries.each do |c| %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#<%= c.name %>"><%= c.name %></a>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="tab-content">
    <% countries.each do |c| %>
      <div role="tabpanel" class="tab-pane active" id="<%= c.name %>">
        <% if @current_user.has_access_to_tech?(c) %>
          <div class="row">
            <% c.researched_tech.each do |t| %>
                <div class="col-xs-6 col-md-4">
                  <h5 class="list-group-item-heading"><%= t.master_tech.name %></h5>
                  <p class="list-group-item-text">Level: <%= t.master_tech.level %></p>
                  <p class="list-group-item-text">ID: <%= t.master_tech.wts_id %></p>
                  <p class="list-group-item-text"><%= t.master_tech.desc %></p>
                </div>
            <% end %>
          </div>
          <div class="row">
            <% c.unresearched_tech.each do |t| %>
                <div class="col-xs-6 col-md-4">
                  <h5 class="list-group-item-heading"><%= t.master_tech.name %></h5>
                  <% if t.researching %>
                      <h6 class="list-group-item-heading">Researching</h6>
                  <% end %>
                  <p class="list-group-item-text">Level: <%= t.master_tech.level %></p>
                  <p class="list-group-item-text">ID: <%= t.master_tech.wts_id %></p>
                  <p class="list-group-item-text"><%= t.master_tech.unresearched_desc %></p>
                  <% if @current_user.owns_tech_instance?(t) %>
                    <%= form_for(:welcome, url: researching) do |f| %>
                      <%= f.hidden_field :tech_id, value: t.id %>
                      <% if t.researching %>
                        <%= f.hidden_field :val, value: false %>
                        <%= f.submit 'Stop researching', class: 'btn btn-primary' %>
                      <% else %>
                        <%= f.hidden_field :val, value: true %>
                        <%= f.submit 'Research', class: 'btn btn-primary' %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
            <% end %>
          </div>
            <% if @current_user.has_access_to_artifacts?(c) %>
              <div class="row">
                <% (1..6).each do |l| %>
                  <div class="col-md-2">
                    <p class="list-group-item-text"><%= c.artifacts["l#{l}"] %> Level <%= l %>'s</p>
                    <p class="list-group-item-text">
                      <a href="#" class="small">
                        <% if l < 6 %>
                          <%= form_for(:welcome, url: combine_artifacts) do |f| %>
                            <%= f.hidden_field :country_id, value:c.id %>
                            <%= f.hidden_field :level, value: l %>
                            <% if c.artifacts["l#{l}"] > 0 %>
                              <%= f.submit 'Combine', class: 'small' %>
                            <% else %>
                              <p class="small text-white">Combine</p>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% if l > 1 %>
                          <%= form_for(:welcome, url: split_artifact) do |f| %>
                            <%= f.hidden_field :country_id, value:c.id %>
                            <%= f.hidden_field :level, value: l %>
                            <% if c.artifacts["l#{l}"] > 0 %>
                              <%= f.submit 'Split', class: 'small' %>
                            <% else %>
                              <p class="small text-white">Split</p>
                            <% end %>
                          <% end %>
                        <% end %>
                      </a>
                    </p>
                  </div>
                <% end %>
              </div>
            <% else %>
              <h5 class="list-group-item-heading">Access denied to this country's artifacts</h5>
            <% end %>
        <% else %>
            <h5 class="list-group-item-heading">Access denied to this country's tech tree</h5>
        <% end %>
      </div>
    <% end %>
  </div>
</div>