<p id="notice"><%= notice %></p>

<h1>User Home</h1>

<!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Wtd</th>-->
    <!--<th>Level</th>-->
    <!--<th>Name</th>-->
    <!--<th>Desc</th>-->
    <!--<th>Unresearched desc</th>-->
    <!--<th>Initially visible</th>-->
    <!--<th colspan="3"></th>-->
  <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
  <!--<% @teches.each do |master_tech| %>-->
      <!--<tr>-->
        <!--<td><%= master_tech.wts_id %></td>-->
        <!--<td><%= master_tech.level %></td>-->
        <!--<td><%= master_tech.name %></td>-->
        <!--<td><%= master_tech.desc %></td>-->
        <!--<td><%= master_tech.unresearched_desc %></td>-->
        <!--<td><%= master_tech.initially_visible %></td>-->
      <!--</tr>-->
  <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<ul class="list-group">
  <% @teches.each do |master_tech| %>
    <li class="list-group-item">
      <h5 class="list-group-item-heading"><%= master_tech.name %></h5>
      <p class="list-group-item-text">Level: <%= master_tech.level %></p>
      <p class="list-group-item-text">ID: <%= master_tech.wts_id %></p>
      <p class="list-group-item-text"><%= master_tech.desc %></p>
    </li>
  <% end %>
</ul>