<p id="notice"><%= notice %></p>

<h1>User Home</h1>

<ul class="list-group">
  <% @teches.each do |master_tech| %>
    <li class="list-group-item">
      <h5 class="list-group-item-heading"><%= master_tech.name %></h5>
      <p class="list-group-item-text">Level: <%= master_tech.level %></p>
      <p class="list-group-item-text">ID: <%= master_tech.wts_id %></p>
      <p class="list-group-item-text"><%= master_tech.desc %></p>
    </li>
  <% end %>
</ul>