<div class="container">
  <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="clearfix float-lg-left">
      <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hidden-lg-up float-xs-right" data-target="#navbarTop" data-toggle="collapse" type="button"></button>
      <a class="navbar-brand"><%= image_tag(@country.flag, :alt => @country.name+' Flag', width: '64', height: '32') %></a>
    </div>
    <div class="collapse navbar-toggleable-md" id="navbarTop">
      <ul class="nav navbar-nav">
        <% @countries.each do |c| %>
            <li class="nav-item<%= ' active' if c.name==@country.name %>">
              <%= link_to c.name, {controller: 'countries', action: 'tech', id: c.id}, class: 'nav-link' %>
            </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <% if @current_user.has_access_to_artifacts?(@country) %>
      <nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
        <div class="clearfix float-lg-left">
          <h5 class="navbar-brand">Artifacts</h5>
          <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hidden-lg-up float-xs-right" data-target="#navbarBottom" data-toggle="collapse" type="button"></button>
        </div>
        <div class="collapse navbar-toggleable-md" id="navbarBottom">
          <%= form_tag("/artifacts/#{@country.artifact.id}/combinedowngrade", method: "post", class: "form-inline") do -%>
              <div class="btn-group btn-group-md">
                <button type="button" class="btn btn-outline-info text-white" disabled='true'>1:</button>
                <button type="button" class="btn btn-secondary bg-faded" disabled="true"><%= @country.artifact["l1"] %></button>
                <%= content_tag :button, '>', {type: 'submit', name: 'commit', data: {confirm: 'Combine two level 1 artifacts into a level 2?'}, class: 'btn btn-warning', value: '1'} if @country.can_combine?(1) %>
              </div>
              <div class="btn-group btn-group-md">
                <%= content_tag :button, '<', {type: 'submit', name: 'commit', data: {confirm: 'Downgrade a level 2 artifact into a level 1?'}, class: 'btn btn-danger', value: '-2'} if @country.artifact['l2'] > 0 %>
                <button type="button" class="btn btn-outline-info text-white" disabled="true">2:</button>
                <button type="button" class="btn btn-secondary bg-faded" disabled="true"><%= @country.artifact["l2"] %></button>
                <%= content_tag :button, '>', {type: 'submit', name: 'commit', data: {confirm: 'Combine two level 2 artifacts into a level 3?'}, class: 'btn btn-warning', value: '2'} if @country.can_combine?(2) %>
              </div>
              <div class="btn-group btn-group-md">
                <%= content_tag :button, '<', {type: 'submit', name: 'commit', data: {confirm: 'Downgrade a level 3 artifact into a level 2?'}, class: 'btn btn-danger', value: '-3'} if @country.artifact['l3'] > 0 %>
                <button type="button" class="btn btn-outline-info text-white" disabled="true">3:</button>
                <button type="button" class="btn btn-secondary bg-faded" disabled="true"><%= @country.artifact["l3"] %></button>
                <%= content_tag :button, '>', {type: 'submit', name: 'commit', data: {confirm: 'Combine two level 3 artifacts into a level 4?'}, class: 'btn btn-warning', value: '3'} if @country.can_combine?(3) %>
              </div>
              <div class="btn-group btn-group-md">
                <%= content_tag :button, '<', {type: 'submit', name: 'commit', data: {confirm: 'Downgrade a level 4 artifact into a level 3?'}, class: 'btn btn-danger', value: '-4'} if @country.artifact['l4'] > 0 %>
                <button type="button" class="btn btn-outline-info text-white" disabled="true">4:</button>
                <button type="button" class="btn btn-secondary bg-faded" disabled="true"><%= @country.artifact["l4"] %></button>
                <%= content_tag :button, '>', {type: 'submit', name: 'commit', data: {confirm: 'Combine two level 4 artifacts into a level 5?'}, class: 'btn btn-warning', value: '4'} if @country.can_combine?(4) %>
              </div>
              <div class="btn-group btn-group-md">
                <%= content_tag :button, '<', {type: 'submit', name: 'commit', data: {confirm: 'Downgrade a level 5 artifact into a level 4?'}, class: 'btn btn-danger', value: '-5'} if @country.artifact['l5'] > 0 %>
                <button type="button" class="btn btn-outline-info text-white" disabled="true">5:</button>
                <button type="button" class="btn btn-secondary bg-faded" disabled="true"><%= @country.artifact["l5"] %></button>
                <%= content_tag :button, '>', {type: 'submit', name: 'commit', data: {confirm: 'Combine two level 5 artifacts into a level 6?'}, class: 'btn btn-warning', value: '5'} if @country.can_combine?(5) %>
              </div>
              <div class="btn-group btn-group-md">
                <%= content_tag :button, '<', {type: 'submit', name: 'commit', data: {confirm: 'Downgrade a level 6 artifact into a level 5?'}, class: 'btn btn-danger', value: '-6'} if @country.artifact['l6'] > 0 %>
                <button type="button" class="btn btn-outline-info text-white" disabled="true">6:</button>
                <button type="button" class="btn btn-secondary bg-faded" disabled="true"><%= @country.artifact["l6"] %></button>
              </div>

          <% end -%>
        </div>
      </nav>
  <% end %>

  <% if @current_user.admin? && @country.name=="Brazil" %>
      <h1 class="alert-danger">WARNING: You are editing Brazil</h1>
  <% end %>

  <% if @current_user.has_access_to_tech?(@country) %>
      <div class="card card-inverse card-info">
        <div class="card-block">
          <h3 class="card-title">Available to Research</h3>
        </div>
        <div class="card-block">
          <% @country.unresearched_techs.find_each do |t| %>
              <ul class="list-group">
                <li class="list-group-item bg-faded">
                  <span class="tag tag-default tag-pill"><%= t.master_tech.wts_id %></span>
                  <i>&nbsp;<%= @current_user.admin ? t.master_tech.desc : t.master_tech.unresearched_desc %></i>
                </li>
                <li class="list-group-item">
                  <% if @current_user.can_cancel_research?(t) %>
                      <% if @current_user.admin? %>
                          <%= button_to "Complete Research", {controller: 'tech_instances', action: 'complete_research', id: t.id}, {class: 'btn btn-success'} %>
                      <% else %>
                          <%= button_to "Cancel Research", {controller: 'tech_instances', action: 'cancel_research', id: t.id}, {class: 'btn btn-danger'} %>
                      <% end %>
                  <% elsif @current_user.can_start_research?(t) && !@current_user.admin? %>
                      <%= button_to "Start Research", {controller: 'tech_instances', action: 'start_research', id: t.id}, {class: 'btn btn-warning'} %>
                  <% elsif @country.user_id == @current_user.id %>
                      One level <%= t.master_tech.level %> artifact and <%= t.master_tech.level %> credit(s) required
                      (minus discounts) to research
                  <% end %>
                  <% if @current_user.admin? %>
                      <%= button_to "Give Technology", {controller: 'tech_instances', action: 'complete_research', id: t.id}, {class: 'btn btn-warning'} %>
                  <% end %>
                </li>
                <% if t.researching && t.partial_credit > 0 %>
                    <li class="list-group-item">Currently Researching. <%= t.partial_credit %> credits already
                      paid.
                    </li>
                <% end %>
              </ul>
              <p/>
          <% end %>
        </div>
      </div>
      <div class="card card-inverse card-success">
        <div class="card-block">
          <h3 class="card-title">Discoveries</h3>
        </div>
        <div class="card-block">
          <% @country.researched_techs.find_each do |t| %>
              <ul class="list-group">
                <li class="list-group-item bg-faded">
                  <span class="tag tag-default tag-pill"><%= t.master_tech.wts_id %></span>
                  <%= t.master_tech.name %>
                </li>
                <li class="list-group-item"><%= t.master_tech.desc %></li>
              </ul>
              <p/>
          <% end %>
        </div>
      </div>
  <% else %>
      <div class="card-block">
        <h4 class="card-title"><%= @current_user.name %> does not have access to <%= @country.name %>'s
          Research</h4>
      </div>
  <% end %>

</div>