<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @artifact.country %>
</p>

<p>
  <strong>L1:</strong>
  <%= @artifact.l1 %>
</p>

<p>
  <strong>L2:</strong>
  <%= @artifact.l2 %>
</p>

<p>
  <strong>L3:</strong>
  <%= @artifact.l3 %>
</p>

<p>
  <strong>L4:</strong>
  <%= @artifact.l4 %>
</p>

<p>
  <strong>L5:</strong>
  <%= @artifact.l5 %>
</p>

<p>
  <strong>L6:</strong>
  <%= @artifact.l6 %>
</p>

<%= link_to 'Edit', edit_artifact_path(@artifact) %> |
<%= link_to 'Back', artifacts_path %>
